Flask==1.1.2
Flask-Login==0.4.1
Flask-Session==0.3.1
Flask_SocketIO==5.0.0
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.0
python-engineio==4.0.0
python-socketio==5.0.2
six==1.11.0
Werkzeug==1.0.1
python-dotenv==0.15.0
requests==2.21.0
oauthlib==3.0.1
pyOpenSSL==19.0.0
WTForms==2.3.3
gunicorn==20.0.4
eventlet==0.30.0
pytest==6.1.2
wtforms-validators==1.0.0
