{% extends "base.html" %}

{% block content %}
<div class=row style="height:70%;">
    <div class="col-2 border border-dark h-100" style="overflow:scroll;">
        <h4 class="text-center">Initiative Order</h4>

        <div id="initiative-list"></div>
    </div>
    <div class="col-8 border border-dark">
        <p class=text-center><img src="https://i.pinimg.com/564x/b7/7f/6d/b77f6df018cc374afca057e133fe9814.jpg"></p>
    </div>
    <div class="col-2 border border-dark h-100">
        <h4 class="text-center">DM Tools</h4>
    </div>
</div>
<div class="fixed-bottom" style="height:20%;">
    <div class=row>
        <div class=col-2>
            <form class="form" id=set_initiative>
                <input type=text id=player_name class="form-control" placeholder="Player Name">
                <input type=text id=initiative_roll class="form-control" placeholder="Initiative">
                <input type=submit class="btn btn-primary form-control" value="Set Initiative">
            </form>
        </div>
        <div class=col-8>
            <p class="text-center">Log?</p>
        </div>
    </div>
</div>
{% endblock %}