{% extends "base.html" %}

{% block content %}
    <div id="initiative" class="initiative">
        <a href="javascript:void(0)" class="closebtn" onclick='closeNav("initiative")'>&times;</a>
        <a href="#">Yeah</a>
        <a href="#">Initiative</a>
        <a href="#">Here?</a>
    </div>
    <div id="dm-tools" class="dm-tools">
        <a href="javascript:void(0)" class="closebtn" onclick='closeTools("dm-tools")'>&times;</a>
        <a href="#">DM</a>
        <a href="#">Tools</a>
        <a href="#">Here?</a>
    </div>
    <div id=log class=log>
        <a href="javascript:void(0)" class="closebtn" onclick='closeLogs("log")'>&times;</a>
        <a href="#">Log</a>
        <a href="#">Goes</a>
        <a href="#">Here?</a>
    </div>
    <div class=row>
        <div class=col>
            <span style="font-size:30px;cursor:pointer" onclick='openNav("initiative")'>&#9776; open</span>
        </div>
        <div class="col text-right">
            <span style="font-size:30px;cursor:pointer" onclick='openTools("dm-tools")'>open &#9776;</span>
        </div>
    </div>
    
<div class=row>
    <div class="col-2 border border-dark"><p class=text-center>Initiative</p></div>
    <div class="col-8 border border-dark"><p class=text-center>Map<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p><p class="text-center border-dark border-top">Log?
        <span style="font-size:30px;cursor:pointer" onclick='openLogs("log")'>&#9776; open</span>
    </p></div>
    <div class="col-2 border border-dark"><p class=text-center>Other things?</p></div>
</div>
{% endblock %}