.chat-form {
  position: absolute;
  bottom: 0;
  right: 0;
}

.resizable {
  display: inline-block;
  background: red;
  resize: both;
  overflow: hidden;
  line-height: 0;
  }

.resizable img {
  width: 100%;
  height: 100%;
}

.max-length-text-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-length-text-2 {
  display: -webkit-box;   
  -webkit-line-clamp: 2;   
  -webkit-box-orient: vertical;   
  overflow: hidden; 
}

.underline_text {
  text-decoration: underline;
}

/* https://codepen.io/elad2412/pen/xxxNVRW */