{% extends "base.html" %}


{% block content %}

<div class="container">

    <h1 class="text-center">Create a room for your encounter!</h1>
    <form class="form" method="POST" >
        <div class=row>
            <div class="col">
                <label>Room Name</label>
                <input type="text" name="room_name" class="form-control" value="{{ room_name }}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>DM notes</label>
                <textarea name="dm_notes" id="dm_notes_input" class="form-control" value="{{ dm_notes }}"> {{ dm_notes }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Map URL(Optional)</label>
                <input type="text" id="map_url" name="map_url" class="form-control" value="{{ map_url }}">
                <!-- change this to dynamically preview user's map -->
                <!-- this is where character tokens will also go -->
                <div class="col-8 border border-dark">
                    <div class="text-center" id=prev>
                    </div>
                    <div id="warning">

                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <input type="submit" class="btn btn-primary form-control" value="Add Room!">
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        
        <input type="hidden" id="old_name" value="{{ old_name }}">
        <input type="hidden" id="old_notes" value="{{ old_notes }}">
        <input type="hidden" id="old_tokens" value="{{ old_tokens }}">
        <input type="hidden" id="old_url" value="{{ old_url }}">
    </form>
    <ul>
        {% for i in errors %}
        <li> {{ i }} </li>
        {% endfor %}
    </ul>

</div>
<script>
    $('#map_url').on('input', function() {
  var src = jQuery(this).val();

  var previews = $(".previewImage");
  var drawPreview = true;

  var PreviousSource = $(this).data('previousSource');

  if(!src.match("^https?://(?:[a-z\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|gif|png|jpeg|webp)$") && src != "") {
    $("#warning").html("Must be an image");
    return false;  
  } else {
    $("#warning").html("");
  }

  $.each(previews , function(index, value) { 
    if (src == "" && PreviousSource == $(value).attr('src')) {
      $(value).remove();
      drawPreview = false;
      return false; 
    }
    if($(value).attr('src') == src) {
      drawPreview = false;
      return false;
    }
  });

  if(drawPreview) {
    $('#prev').append('<img class="previewImage" width= 100% src="' + src + '">');   
  }
  
  var previousSource = $(this).data('previousSource', src);
});
</script>


{% endblock %}