<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
        <script src="/static/js/navbar.js"></script>
    </head>
    <body>
      <!-- TODO: Add in room_id and site_name things -->
        <!-- {% if in_room %}
        <div class="col-2">
          <div class="row justify-content-center align-self-center">
            <p class="text-center">Currently in room: <b id="room_id">{{ in_room }}</b></p>
            </div>
          </div>
            <div class="col-2">
              <div class="d-flex h-100">
                <div class="row justify-content-center align-self-center">
                  <div class=col-9>
                    <p class="text-center">Currently logged in as: <b id="site_name">{{ site_name }}</b></p>
                  </div>
                  <div class="col-3">
                    <img style="height:80%;" class="rounded float-right" src="{{ profile_pic }}" alt="Profile Pic">
                  </div>
                </div>
              </div>
            </div> -->
          <!-- {% endif %} -->
          <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-2" style="font-size:20px;">
            <a class="navbar-brand" href="/home"><i class="fas fa-map ml-3 mr-3"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" id=path_home href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id=path_play href="/play">Play</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id=path_characters href="/characters">Character</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id=path_user href="/user/settings">Settings</a>
                </li>
              </ul>
              <a href="/logout" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out"></span> Logout
              </a>
              <a href="/delete" class=" ml-3 btn btn-danger btn-lg">
                <span class="glyphicon glyphicon-trash"></span> Delete Account
              </a>
            </div>
          </nav>
          

      <div style="width:99%; margin-top:4.5rem;">
        {% block content %}
        {% endblock %}
      </div>
      </body>
</html>
