{% extends "base.html" %}

{% block content %}
<div class="container">
<form action="{{ route }}" method="POST" class="form">
    <div class="row">
        <div class="col form-group">
            <select name="character" id="character" class="form-control">
                {% for character in characters %}
                <option>{{ character[2] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col form-group">
            <input type="submit" class="btn btn-danger btm-sm form-control" value="Choose character">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </div>
    </div>
</form>
</div>

{% endblock %}
