{% extends "base.html" %}


{% block content %}

<div class="container">

    <h1 class="text-center">Prepare your room for your encounter!!!</h1>
    <form class="form" action="/room/{{ room_id }}" method="POST" >
        <div class=row>
            <div class="col">
                <label>Room Name</label>
                <input type="text" name="room_name" class="form-control" value="{{ room_name }}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>DM notes</label>
                <textarea name="dm_notes" id="dm_notes_input" class="form-control" value="{{ dm_notes }}">{{ dm_notes }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Map URL(Optional)</label>
                <input type="text" name="map_url" class="form-control" value="{{ map_url }}">
                <!-- change this to dynamically preview user's map -->
                <!-- this is where character tokens will also go -->
                <div class="col-8 border border-dark">
                    <div class="text-center">
                        <img src="{{ map_url }}" width= 100% alt="A map preview" id=map_preview>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
             <div class="col">
                <button class="btn btn-primary" onclick=addtoken()>  Add a token!  </button>
            </div> -->
        </div> 
        <div class="row pt-4">
            <div class="col">
                <input type="submit" class="btn btn-success form-control" value="Save Changes">
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="room_id" value="{{ room_id }}">
        <input type="hidden" id="old_name" value="{{ old_name }}">
        <input type="hidden" id="old_notes" value="{{ old_notes }}">
        <input type="hidden" id="old_tokens" value="{{ old_tokens }}">
        <input type="hidden" id="old_url" value="{{ old_url }}">
    </form>

    <form class="form" action="/generate_room" method="POST">
        <div class="row pt-4">
        <input type="hidden" name="room_name" class="form-control" value="{{ room_name }}">
        <input type="hidden" name="map_url" class="form-control" value="{{ map_url }}">
        <input type="hidden" name="dm_notes" class="form-control" value="{{ dm_notes }}">
        
        <div class="col">
            <input type="submit" class="btn btn-primary form-control" value="Publish room!">
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </div>
    </form>

    <ul>
        {% for i in errors %}
        <li> {{ i }} </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}