{% if logged %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'login_base.html' %}
{% endif -%}

{% block content %}

<div class=container>
    <h2 class="text-center">Dangeon Master Aid User Documentation</h2>
    <p class="small text-center">Everything you need to know about our tool.</p>
    <hr>
    
    <h4>Tutorials</h4>
    <ul>
        <li>Here</li>
        <li>there</li>
        <li>will</li>
        <li>links</li>
        <li>to</li>
        <li>video</li>
        <li>tutorials</li>
    </ul>
    <hr>

    <h4>How-Tos</h4>
    <ul>
        <li>Here</li>
        <li>there</li>
        <li>will</li>
        <li>links</li>
        <li>to</li>
        <li>how-tos</li>
    </ul>
</div>


{% endblock %}