{% if logged %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'login_base.html' %}
{% endif %}

{% block content %}

<div class=container>
    <a href=/help>Back</a>
    <h2 class="text-center">How to Delete a Room</h2>
    <hr>

    <p class="pb-3 text-center small">This document details how to delete a room. You need to be logged in in order to have access to rooms.</p>
    <ol>
        <li>From the home screen, click the "Room" tab on the navigation bar at the top.</li>
        <li>You should see a list of all your rooms. Find the room you want to delete in the list.</li>
        <li>Click the red "Delete" button associated with your room, and press "OK" in the popup.</li>
        <li>The room is now deleted!</li>
    </ol>
</div>

{% endblock %}