{% if logged %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'login_base.html' %}
{% endif %}

{% block content %}

<div class=container>
    <h2 class="text-center">Dangeon Master Aid User Documentation</h2>
    <p class="small text-center">Everything you need to know about our tool.</p>
    <hr>
    
    <h4>Tutorials</h4>
    <ul>
        <li><a href="/help/tutorial_log_in">Video Tutorial: Logging in</a></li>
        <li><a href="/help/tutorial_add_character">Video Tutorial: Make your first Character</a></li>
        <li><a href="/help/tutorial_start_dming">Video Tutorial: How to get started as a DM</a></li>
        <li><a href="/help/tutorial_join_room">Video Tutorial: Joining a room</a></li>
        <li><a href="/help/tutorial_spectate_room">Video Tutorial: Spectating a room</a></li>
        <li><a href="/help/tutorial_change_username">Video Tutorial: Changing your username</a></li>
        <li><a href="/help/tutorial_delete_account">Video Tutorial: Deleting your account</a></li>
    </ul>
    <hr>

    <h4>How-Tos</h4>
    <ul>
        <li><a href="/help/how_to_make_a_character">How to Make a Character</a></li>
        <li><a href="/help/how_to_edit_a_character">How to Edit a Character</a></li>
        <li><a href="/help/how_to_delete_a_character">How to Delete a Character</a></li>
        <li><a href="/help/how_to_make_a_room">How to Make a Room</a></li>
        <li><a href="/help/how_to_edit_a_room">How to Edit a Room</a></li>
        <li><a href="/help/how_to_delete_a_room">How to Delete a Room</a></li>
        <li><a href="/help/how_to_open_a_room">How to Open a Room</a></li>
        <li><a href="/help/how_to_join_a_room">How to Join a Room</a></li>
        <li><a href="/help/how_to_spectate_a_room">How to Spectate a Room</a></li>
        <li><a href="/help/how_to_change_a_username">How to Change Your Username</a></li>
        <li><a href="/help/how_to_logout">How to Logout</a></li>
        <li><a href="/help/how_to_delete_an_account">How to Delete Your Account</a></li>
        <li><a href="/help/how_to_chat">How to Chat</a></li>
        <li><a href="/help/how_to_add_a_character_to_the_battlemap">How to Add a Character to the Battlemap</a></li>
        <li><a href="/help/how_to_add_an_NPC_to_battlemap">How to Add an NPC to the Battlemap</a></li>
        <li><a href="/help/how_to_update_initiative">How to Update Initiative</a></li>
        <li><a href="/help/how_to_move_a_character">How to Move a Character</a></li>
        <li><a href="/help/how_to_resize_a_character">How to Resize a Character</a></li>
        <li><a href="/help/how_to_start_a_battle">How to Start a Battle</a></li>
        <li><a href="/help/how_to_end_a_characters_turn">How to End a Character's Turn</a></li>
        <li><a href="/help/how_to_end_a_battle">How to End a Battle</a></li>
        <li><a href="/help/how_to_end_a_session">How to End a Session</a></li>
        <li><a href="/help/how_to_remove_a_character_from_the_battlemap">How to Remove a Character from the Battlemap</a></li>
        <li><a href="/help/log">Log</a></li>

    </ul>
</div>


{% endblock %}