{% if logged %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'login_base.html' %}
{% endif %}

{% block content %}

<div class=container>
    <h2 class="text-center">Dangeon Master Aid User Documentation</h2>
    <p class="small text-center">Everything you need to know about our tool.</p>
    <hr>
    
    <h4>Tutorials</h4>
    <ul>
        <li>Here</li>
        <li>there</li>
        <li>will</li>
        <li>links</li>
        <li>to</li>
        <li>video</li>
        <li>tutorials</li>
    </ul>
    <hr>

    <h4>How-Tos</h4>
    <ul>
        <li><a href="/help/how_to_make_a_character">How to Make a Character</a></li>
        <li><a href="/help/how_to_edit_a_character">How to Edit a Character</a></li>
        <li><a href="/help/how_to_delete_a_character">How to Delete a Character</a></li>
    </ul>
</div>


{% endblock %}