{% extends "base.html" %}

{% block content %}
<script src="/static/js/script.js"></script>

<div class=row style="height:65%;">
    <div class="col-2 border border-dark h-100" style="overflow:scroll;">
        <h4 class="text-center">Initiative Order</h4>

        <table id="initiative-table" class="table table-sm text-center">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-8 border border-dark">
        <div class="text-center"><img style="height:100%;width:100%;" src="https://i.pinimg.com/564x/b7/7f/6d/b77f6df018cc374afca057e133fe9814.jpg"></div>
    </div>
    <div class="col-2 border border-dark h-100">
        <h4 class="text-center">DM Tools</h4>
        <form class=form id=start_battle>
            <input type="submit" class="btn btn-primary form-control" value="Start Battle!">
        </form>
        <form class=form id=end_battle>
            <input type="submit" class="btn btn-danger form-control" value="End Battle">
        </form>
    </div>
</div>
<!-- <div class="fixed-bottom" style="height:20%;"> -->
    <div class="row mt-0" style="height:25%;">
        <div class="col-2 my-auto text-center">
            <form class="form" id=set_initiative>
                <input type=text id=player_name class="form-control" value="{{ char_name }}" disabled required>
                <input type=number id=initiative_roll class="form-control" min=0 max=30 placeholder="Initiative" required>
                <input type=submit class="btn btn-primary form-control" value="Update Initiative" id=set_initiative_button>
            </form>

            <form class="form" id="end_turn">
                <input type=submit class="btn btn-danger form-control" value="End Turn!" id=end_turn_button disabled>
            </form>
        </div>
        <div class="col-8 border border-dark">
            <p class="text-center mb-0"><b>Chat</b></p>
            <div style="overflow:scroll;height:60%;">
                <div id="chat-list"></div>
            </div>
            
            <form class="form mb-0" id=send_chat>
                <div class=row>
                    <div class="col-10 form-group">
                        <input type=text id=chat_text class=form-control placeholder="Type here">
                    </div>
                    <div class="col-2 form-group">
                        <input type=submit class="btn btn-primary form-control" value="Chat">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2 border border-dark h-100" style="overflow:scroll;">
            <p class="text-center mb-0"><b>Log</b></p>
            <div id="log"></div>
        </div>
    </div>
<!-- </div> -->
{% endblock %}