{% extends "base.html" %}


{% block content %}
<form class=form method="POST">
<div class=row style="height:75%;">
    <div class="col-2 border border-dark h-100" style="overflow:scroll;">
        <h4 class="text-center">Initiative Order</h4>

        <table id="initiative-table" class="table table-sm text-center">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-8 border border-dark">
        <div id="prev" class="text-center droppable ui-droppable" style="width:100%">	
            <img class="previewImage" id=initial_image style="height:100%;width:100%;" draggable="false" src="{{ image_url }}">
        </div>
    </div>
    <div class="col-2 border border-dark h-100" style="overflow:scroll;">
        
    </div>
</div>
<div class="col-2 h-100" id=row1_col3>
    <h4 class="text-center" id=dm_tools>DM's Tools</h4>
    <!-- Will be finished later -->
    <!-- <form class=form id=update_grid_sizes>
        <div class=row>
            <div class="col text-center">
                <label class="form-label" for=grid_width>Map Width</label>
                <input type=number id=grid_width class=form-control value=30 required>
            </div>
            <div class="col text-center">
                <label class=form-label for=grid_height>Map Height</label>
                <input type=number id=grid_height class=form-control value=20 required>
            </div>
        </div>
        <input type=submit class="btn btn-primary form-control" value="Update Map Grid" id=update_grid_size_button>
    </form> -->
  

<!-- <div class="fixed-bottom" style="height:20%;"> -->
    <div class="row mt-0" style="height:25%;">
        <div class="col-2 my-auto text-center">
            <div id="initiative-wrapper">
                <!-- <form class="form" id=set_initiative>
                    <select id=player_name class=form-control required>
                        <option id=init_placeholder>Add a Character First!</option>
                    </select>
                    <input type=number id=initiative_roll class="form-control" min=0 max=30 placeholder="Initiative" required>
                    <input type=submit class="btn btn-primary form-control" value="Update Initiative" id=set_initiative_button disabled>
                </form> --> 
                <!-- add the grid inputs here -->
            </div>
        </div>
        <div class="col-8 border border-dark">
            <p class="text-center mb-0"><b>Input your map image!</b></p>
            <div style="overflow:scroll;height:60%;">
            </div>
            <!-- <form class="form mb-0" id=send_chat> -->
            
                <div class=row>
                <input type="text" id="map_url" name="map_url" class="form-control" value="{{ map_url }}">
                <div id="warning">
                </div>
                <!-- <div class="text-center" id=prev> -->
                  <!-- <img class="previewImage" id=initial_image width=50% src="{{ map_url }}"> -->
                </div>
            <!-- </form> -->
        </div>
        <div class="col-2 border border-dark h-100" style="overflow:scroll;">
            <!-- <p class="text-center mb-0"><b>Add a Character</b></p>
            <form class="form" id=add_character>
                <select id=character_name class=form-control required>
                    {% for character in characters %}
                    <option id='{{ character[0].split()|join(":") }}-add-row'>{{ character[0] }}</option>
                    {% endfor %}
                </select>
                <input type=submit class="btn btn-primary form-control" value="Add Character" id=add_character_button>
            </form>
            <form class="form" id=add_npc>
                <input type=submit class="btn btn-primary form-control" value="Add NPC" id=add_npc_button>
            </form> -->
        </div>
    </div>
<!-- </div> -->
</form>

<script src="/static/js/map_image.js"></script>

{% endblock %}