{% extends "base.html" %}

{% block content %}

<div class=container>
    <div class=row>
        <div class="col-2 border-right border-dark">
            <ul class="nav nav-tabs nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#general" id="general-control" data-toggle=tab>General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#account_actions" id="account_actions-control" data-toggle=tab>Account Actions</a>
                </li>
            </ul>
        </div>
        <div class=col-10>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="general" role=tabpanel>
                    <div class=row>
                        <div class=col-6>
                            <div class="form-group">
                                <label class="form-label">Google Email</label>
                                <input type="text" class="form-control mb-1" value="{{ user_email }}" disabled>
                                <p class="small mt-1">You cannot actually change the email that is being used for your account on this site. This is just for your information to remind you which email account you are using.</p>
                            </div>
                        </div>
                    </div>
                    <div class=row>
                        <div class=col>
                            <form action="/user/settings" method=POST class=form>
                                <label class=form-label for=site_name>Username</label>
                                <div class="row">
                                    <div class=col-6>
                                        <div class="form-group mb-0">
                                            <input type="text" name=site_name class="form-control mb-1" value="{{ new_site_name }}">
                                            <p class="small mt-1">This setting allows you to change your username. Please keep in mind that your username needs to be unique across all users. As soon as you change your username, another user will be able to take your old username if they wish.</p>
                                        </div>
                                    </div>
                                    <!-- <div class=col-2> -->
                                        <div class="form-group mb-0">
                                            <input type="submit" class="btn btn-primary form-control" value="Update">
                                        </div>
                                    <!-- </div> -->
                                </div>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            </form>
                            {{ username_message }}
                            {% for i in username_errors %}
                            <li> {{ i }} </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id=account_actions role=tabpanel>
                    <div class=row>
                        <div class=col-6>
                            <div class=form-group>
                                <label class=form-label>Logout</label>
                                <a class="btn btn-outline-danger btn-block" href="/logout">Logout</a>
                                <p class="small mt-1">As the name suggests, clicking this button will log you out of your account. To access your account again, you would have to relog back in.</p>
                            </div>
                        </div>
                    </div>
                    <div class=row>
                        <div class=col-6>
                            <div class=form-group>
                                <label class=form-label>Delete Account</label>
                                <a class="btn btn-danger btn-block" href="/delete" onclick="return confirm('This will permanently delete your account FOREVER. Proceed?');">Delete Account</a>
                                <p class="small mt-1">Clicking this button will permanently delete your account. All of your characters, maps, user settings and information will be delete from the site, forever. You can create another account with the same Google account. However, you will not recover any lost information.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}