{% extends "base.html" %}

{% block content %}

<div class=container>

    <form action="/user/settings" method=POST class=form>
        <div class=row>
            <label><b>Update your username:</b></label>
            <input type="text" name=username class=form-control value="{{ site_name }}">
        </div>
        <div class=row>
            <input type="submit" class="btn btn-primary form-control" value="Update">
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    {{ username_message }}
</div>

{% endblock %}