{% extends "base.html" %}

{% block content %}
<div class="container">
    <table class="table table-bordered">
        <thead>
            <th>Character Name</th>
            <th>Race</th>
            <th>Class</th>
            <th>Subclass</th>
            <th>Hitpoints</th>
            <!-- <th></th> -->
            <th class="text-center"><a href="/create_character" class="btn btn-success">Create a Character!</a></th>
        </thead>
        <tbody>
            {% for s in items %}
            <tr>
                <td>{{ s[2] }}</td>
                <td>{{ s[5] }}</td>
                <td>{{ s[3] }}</td>
                <td>{{ s[4] }}</td>
                <td>{{ s[6] }}</td>
                <!-- <td class=text-center><button type="button" class="btn btn-warning btn-sm">Edit</button></td> -->
                <td class=text-center>
                    <form action="/characters" method="POST" class="form">
                        <input type="submit" class="btn btn-danger btm-sm" value="Delete">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="character_name" value="{{ s[2] }}">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}