{% extends "base.html" %}

{% block content %}
<div class="container">
    <table class="table table-bordered">
        <thead>
            <th>Character Name</th>
            <th>Race</th>
            <th>Subrace</th>
            <th>Class</th>
            <th>Subclass</th>
            <th>Speed</th>
            <th>Level</th>
            <th>Str</th>
            <th>Dex</th>
            <th>Con</th>
            <th>Int</th>
            <th>Wis</th>
            <th>Chr</th>
            <th>Hitpoints</th>
            <th colspan=2 class="text-center"><a href="/characters/create" class="btn btn-success">Create a Character!</a></th>
        </thead>
        <tbody>
            {% for s in items %}
            <tr>
                <td>{{ s[2] }}</td>
                <td>{{ s[5] }}</td>
                <td>{{ s[6] }}</td>
                <td>{{ s[3] }}</td>
                <td>{{ s[4] }}</td>
                <td>{{ s[7] }}</td>
                <td>{{ s[8] }}</td>
                <td>{{ s[9] }}</td>
                <td>{{ s[10] }}</td>
                <td>{{ s[11] }}</td>
                <td>{{ s[12] }}</td>
                <td>{{ s[13] }}</td>
                <td>{{ s[14] }}</td>
                <td>{{ s[15] }}</td>
                <td class=text-center>
                    <form action="/characters/edit/{{ s[2] }}" method="GET" class="form">
                        <input type="submit" class="btn btn-warning btm-sm" value="Edit">
                    </form>
                </td>
                <td class=text-center>
                    <form action="/characters" method="POST" class="form">
                        <input type="submit" class="btn btn-danger btm-sm" value="Delete">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="character_name" value="{{ s[2] }}">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}